.LoginForm {
    background-color: rgba(230,240,255,.7);
    margin-top: .5rem;
    width: 50%;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.25rem;
    border-style:outset;
}

.LoginForm label {
    margin-right: 0.5rem;
    color: darkslateblue;
    font-size: 1.1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.LoginForm input {
    margin-top: 0.4rem;
    width: 75%;
    min-width: 350px;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.LoginForm button {
    margin-top: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.LoginForm .field {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}