.ProcessResponseMessage {
    margin-top: 1rem;
    border-style: dashed;
    border-radius: 0.1rem;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.pending {
    background-color: rgba(255,255,0,0.3);
    color: darkgoldenrod;
}

.success {
    background-color: rgba(0,200,0,0.3);
    color: green;
}

.failure {
    background-color: rgba(255,0,0,0.3);
    color: darkred;
}